<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Single Post</h1>
        <div>
            <h2><strong>ID: </strong><span th:text="${post.id}"></span></h2>
            <h2><strong>User ID: </strong><span th:text="${post.userId}"></span></h2>
            <h2><strong>Title: </strong><span th:text="${post.title}"></span></h2>
            <h2><strong>Body: </strong><span th:text="${post.body}"></span></h2>
        </div>
    </div>
</body>
</html>